:root {
    --color-Body: #add8e6;
    --color-font: #333333;
    --color-border: #b475c9;
    --color-input: #90ee90;
    --color-secundary: #5f5ff9;
    --color-white: #ffffff;
    --color-gray-background: #f0f0f0;
  }

  .paginationContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pageItem {
    margin: 0 2px; 
}

.pagination .page-link {
    padding: var(--pagination-padding-y) var(--pagination-padding-x); 
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-input);
    color: var(--color-font);
    cursor: pointer;
    font-size: var(--pagination-font-size); 
}

.pagination .page-link:hover {
    background-color: var(--color-secondary) !important;
}

.pagination .page-item.active .page-link {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-color: var(--color-secondary);
}
