.rating {
  display: inline-block;
}

.rating .input {
  display: none;
}

.rating .label {
  float: right;
  cursor: pointer;
  color: #ccc;
  font-size: 30px;
  transition: color 0.3s;
}

.rating .input:checked ~ .label,
.rating .label:hover,
.rating .label:hover ~ .label {
  color: gold;
}

.rating .filledStar {
  color: gold;
}

.rating .emptyStar {
  color: #ccc;
}
