@keyframes transform-header {
  to {
    background: rgba(234, 234, 234, 0.4);
    backdrop-filter: blur(10px);
    transform: translateY(-5%);
  }
}

.container {
  position: sticky;
  margin: 0;
  top: 0;
  height: 100px;
  margin-bottom: 200px;
  animation: transform-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 100px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.navLinks li {
  list-style: none;
}

.navLinks a:not(.button) {
font-size: 1.1rem;
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in;
  &:hover {
    color: green;
  }
}

.button {
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-weight: bold;
  border: 2px solid rgb(41, 135, 99);
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: rgb(41, 135, 99);
    color: white;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 2.2rem;
  color: rgb(38, 38, 38);
  transition: all 0.2s ease-in;
  &:hover {
    cursor: pointer;
    color: rgb(34, 142, 100);
  }
}

.icon {
  height: 35px;
  width: 35px;
  color: rgb(34, 142, 100);
}
