:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #b475c9;
  --color-input: #90ee90;
  --color-secundary: #5f5ff9;
  --color-white: #ffffff;
  --color-gray-background: #f0f0f0;
}

.curvedBg {
  overflow: hidden;
  position: relative;
  background-color: var(--color-Body);
}

.curvedBg::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 90px; 
  bottom: 0;
  left: 0;
  background: #ffffff;  
  clip-path: ellipse(120% 100% at 50% 100%); 
}

@media (max-width: 768px) {
  .curvedBg::after {
      height: 100px; 
      clip-path: ellipse(150% 140% at 50% 100%); 
  }
}

.icon {
  height: 30px;
  width: 30px;
  color: var(--color-secundary);
}

.about {
  color: var(--color-font);
  padding: 2rem 0;
}



.justifiedText {
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
}

.colCard{
  padding: 20px;
}

.equalCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #198754;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--color-white);
}

.cardBodyPadding {
  padding: 1.5rem;
  text-align: justify;
}

ol {
  padding-left: 1.2rem;
}

ol li {
  list-style-type: decimal;
  margin-bottom: 0.5rem;
}

.about ul {
  padding-left: 20px;
}

.about li {
  margin-bottom: 10px;
}

.about .card {
  margin-top: 20px;
}

.about .card-title {
  display: flex;
  align-items: center;
}

.about .card-title .icon {
  margin-right: 10px;
}

.about .btn-link {
  color: var(--color-secundary);
  text-decoration: none;
}

.about .btn-link:hover {
  text-decoration: underline;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 1rem;
}

.card-text ul {
  padding-left: 1.5rem;
}

.card-text li {
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

@media (max-width: 768px) {
  .card-title {
      font-size: 1.25rem;
  }

  .card-text {
      font-size: 0.875rem;
  }
}

@media (min-width: 900px) {
  .about .container {
    max-width: 800px;
  }
}
