:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #ffb6c1;
  --color-input: #90ee90;
  --color-secundary: #5f5ff9;
  --color-white: #ffffff;
}
.generalContainer {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #add8e6;
}

.hero {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  padding-top: 300px;
  padding-bottom: 300px;
  background-color: var(--color-Body);
}

.containerHero {
  width: 100%;
  background-color: var(--color-Body);
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerText h3 {
  font-size: 2.5rem;
}

.containerText p {
  font-size: 1.5rem;
  font-weight: 450;
}

.containerText button {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  background-color: rgb(41, 135, 99);
  border-radius: 10px;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: none;
  &:hover {
    transform: scale(1.1);
    background-color: rgb(1, 61, 41);
  }
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImg img {
  width: 400px;
  margin-left: 50px;
}

.fork {
  width: 400px;
}

.containerAbout {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.containerSection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
}

.containerSection h2 {
  font-size: 2.5rem;
}

.containerSteps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 1500px;
  padding-bottom: 200px;
}

.containerSteps div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.containerSteps img {
  width: 300px;
}

.step h3 {
  background-color: #bafae9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);
}

.aboutSection {
  margin: 0 auto;
}

.containerSobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 200px;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding-top: 200px;
  padding-bottom: 200px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 1200px;
  text-align: left;
  text-wrap: balance;
}

.intro h2 {
  font-size: 2.5rem;
}

.intro p {
  font-size: 1.5rem;
  border-left: 5px solid rgb(41, 135, 99);
  padding-left: 30px;
  border-radius: 5px;
}

.containerAudience {
  display: flex;
  justify-content: center;
  align-items: start;
  max-width: 1500px;
  gap: 100px;
}

.audience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.audience h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
}

.audience p {
  font-size: 1.5rem;
  border-left: 5px solid rgb(41, 135, 99);
  padding-left: 30px;
  border-radius: 5px;
}

.audience ul {
  font-size: 1.5rem;
}

.audience li {
  margin-bottom: 20px;
}

.icon {
  height: 35px;
  width: 35px;
  color: var(--color-secundary);
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0px -10px 10px rgba(64, 64, 64, 0.106);
  padding-bottom: 100px;
  padding-top: 100px;
}

.separator img {
  width: 200px;
}
