:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #b475c9;
  --color-input: #90ee90;
  --color-secundary: #5f5ff9;
  --color-white: #ffffff;
}

/* Landing.module.css */
.curvedBg {
  overflow: hidden;
  position: relative;
  background-color: var(--color-Body);
}

.curvedBg::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 150px; 
  bottom: 0;
  left: 0;
  background: #ffffff;  
  clip-path: ellipse(120% 100% at 50% 100%); 
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .curvedBg::after {
      height: 100px; 
      clip-path: ellipse(150% 140% at 50% 100%); 
  }
}

.icon {
  height: 30px;
  width: 30px;
  color: var(--color-secundary);
}

.about {
  background-color: var(--color-Body);
  color: var(--color-font);
  padding: 20px 0;
}

.about h1,
.about h2,
.about h3,
.about h4,
.about h5,
.about h6 {
  color: var(--color-secundary);
}

.about ul {
  padding-left: 20px;
}

.about li {
  margin-bottom: 10px;
}

.about .card {
  border: 1px solid var(--color-border);
  margin-top: 20px;
}

.about .card-title {
  display: flex;
  align-items: center;
}

.about .card-title .icon {
  margin-right: 10px;
}

.about .btn-link {
  color: var(--color-secundary);
  text-decoration: none;
}

.about .btn-link:hover {
  text-decoration: underline;
}
