.howItWorksContainer {
  margin-top: 50px;
  align-items: center;
}

.carouselCustom  {
  max-width: 600px;
  margin: 0 auto;
  
}

.customPrevIcon{
  color: red;
  background-color: #218838;
}

.customPrevIcon:hover{
  background-color: #218838;
}

.carouselItem img {
  max-width: 100%;
  height: auto;
}

/* Estilos personalizados para las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #28a745 !important; /* Color verde para las flechas */
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #218838 !important; /* Color verde oscuro al pasar el cursor */
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1); /* Invertir colores para asegurar que las flechas sean visibles */
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: #218838 !important; /* Color verde oscuro al pasar el cursor */
}


.carousel-caption h5 {
  color: white;
}
