:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #ffb6c1;
  --color-input: #90ee90;
  --color-secundary: #000080;
  --color-white: #ffffff;
}

/* BOOTSTRAP */
.containerCustom {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.labelCustom {
  color: #000080; /* Personalización del color de los labels */
}

.btnCustom {
  background-color: #229a1b;
  border-color: #108206;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  display: block;
  margin: 20px auto 0; /* Centrar el botón */
}

.btnCustom:hover {
  background-color: #108206;
  border-color: #0a5c10;
}

.imagePreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.imageContainer {
  position: relative;
  width: 80px;
  height: 80px;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.removeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------- */

/* Estilos para el container */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 60px; */
  width: 100%;
  height: 100vh;
  background-color: #00ffa2;
}

/* Estilos generales para el formulario */


/* Estilos para los elementos de entrada */




/* Estilos para los botones */




/* Estilos para etiquetas */

/* Estilos para el contenedor de campo de formulario */


/* Estilos para mensajes de error */
.errorContainer{
  height: 15px;
  margin: 2px;

  p{
    margin: 0;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
}


/* Estilos en iconos de los tipos de comida  */
.iconsContainer{
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.mealTypeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;  
  font-size: 0.7em;
  text-align: center;
  color: var(--color-font);
  input{
    cursor: pointer;
  }
}

.foodTypeIcon{
  width: 50px;
}

.imagePreview{
  height: 100px;
  margin-top: 10px;
}

.previewImage{
  width: 80px;
  /* height: 95px; */
  margin: 0px 5px;
}


/* Estilos responsivos */
@media (max-width: 600px) {
  .form {
    padding: 15px;
  }

  .labelForm {
    display: flex;
    width: 100%;
  }

  .inputForm {
    width: 100%;
  }

  .button {
    padding: 8px;
    font-size: 14px;
  }
}


.formGroupMeal{
  align-self: start;
}

.previewText{
  position: absolute;
  left: 20px;
}

.select{
  margin-left: 20px;
}



