:root {
  --color-Body: #ADD8E6;
  --color-font: #333333;
  --color-border: #FFB6C1;
  --color-input: #90EE90;
  --color-secundary: #000080;
  --color-white: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;

}