.container {
  padding: 20px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #99f3d2;
}

.creators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  box-shadow: 4px 8px 4px 8px rgba(0, 0, 0, 0.516);
}
.creatorsCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
