:root {
    --color-Body: #ADD8E6;
    --color-font: #333333;
    --color-border: #FFB6C1;
    --color-input: #90EE90;
    --color-secundary: #000080;
    --color-white: #ffffff;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  background-color: #f7f7f7;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.mealName{
  font-size: 2em;
}

.imageContainer {  
  width: 50%;
}

.dishImage {
  width: 50%;
  height: auto;
  border-radius: 10px;
}


.dishInfo{
  display: flex;
  width: 1500px;
  margin-top: 70px;
  justify-content: space-around;
}

.iconsContainer{
  display: flex;
  gap: 10px;
}

.mealTypeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;  
  font-size: 0.8em;
  text-align: center;
  color: var(--color-font);
  
}

.foodTypeIcon{
  width: 50px;
}

.separator{
  width: 95%;
}