:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #ffb6c1;
  --color-input: #90ee90;
  --color-secundary: #000080;
  --color-white: #ffffff;
}

.container {
  font-weight: bold;
  width: 450px;
  height: 500px;
  margin: 25px;
  border: rgb(0, 107, 57) 1px solid;
  box-shadow: 7px 7px 1px rgb(9, 98, 70);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(199, 239, 215);
  padding: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 0px rgb(9, 98, 70);
  }
}

.image {
  width: 340px;
  height: 290px;
  border-radius: 25px;
  border: rgb(9, 98, 70) .5px solid;
}

.label {
  color: var(--color-font);
  font-size: 1rem;
}
.title {
  color: var(--color-font);
  font-size: 1.5rem;
  font-weight: 900;
}

.price {
  color: var(--color-font);
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 1.8rem;
  align-self: start;
}
