:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #ffb6c1;
  --color-input: #90ee90;
  --color-secundary: #000080;
  --color-white: #ffffff;
}
.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #3ee94380;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card .cardImage {
  max-width: 250px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover,
.card.active {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.cardContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .cardContent,
.card.active .cardContent {
  transform: rotateX(0deg);
}

.cardTitle {
  margin: 0;
  font-size: 25px;
  color: #333;
  font-weight: 700;
}

.card:hover .cardImage,
.card.active .cardImage {
  transform: scale(0);
}

.cardDescription {
  margin: 10px 0 0;
  font-size: 25px;
  color: #777;
  line-height: 1.4;
  font-weight: 700;
}

.cardImage {
  width: 250px;
  height: 200px;
}

.cardButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3ee943;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cardButton.disabled {
  background-color: #2e2b2b;
  color: var(--color-Body);
  cursor: not-allowed;
}

.cardButton:hover {
  background-color: #2eb832;
}

@media (max-width: 600px) {
  .card {
    width: 70%;
    margin: 10px auto;
  }


  .cardTitle {
    font-size: 15px;
  }

  .cardDescription {
    font-size: 18px;
  }

  .cardContent {
    position: relative;
    transform: none;
    height: auto;
    background-color: transparent;
    padding: 10px;
  }

  .card:hover .cardContent,
  .card.active .cardContent {
    transform: none;
  }
  
  .card:hover .cardImage,
  .card.active .cardImage {
    transform: none;
  }
  .cardImage {
    width: 100%;
    max-width: 250px;
    height: 150px;
  }
  .cardButton {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #3ee943;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}