:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #ffb6c1;
  --color-input: #90ee90;
  --color-secundary: #000080;
  --color-white: #ffffff;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(3, 73, 51);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 1px rgb(3, 73, 51);
  position: relative;
}

.inputForm {
  font-size: 1.3rem;
  height: 35px;
  width: 300px;
  border-radius: 5px;
  border: none;
  color: var(--color-font);
  background-color: rgb(255, 255, 255);
}
.inputForm:focus {
  outline: none;
}
.label {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  color: var(--color-font);
}
.button {
  border-radius: 5px;
  width: auto;
  border: none;
  background-color: white;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.icon {
  width: 30px;
  height: 30px;
  color: rgb(0, 89, 92);
  margin-top: 2px;
}
