.footer {
    background-color: #add8e6; /* Color secundario */
    color: #333333; /* Color blanco */
    padding: 30px 0;
  }

  .boldHeader {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  
  .footer h5 {
    margin-bottom: 20px;
    font-size: 1.25rem;
  }
  
  .footer p {
    margin-top: 0;
  }
  
  .footer .socialIcon {
    margin: 0 10px;
    color: #ffffff; /* Color blanco */
    font-size: 1.5rem;
  }
  
  .footer .socialIcon:hover {
    color: #add8e6; /* Color body */
  }
  