:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #ffb6c1;
  --color-input: #90ee90;
  --color-secundary: #000080;
  --color-white: #ffffff;
}

.container {
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.icon {
  font-size: 20px;
  margin-bottom: 8px;
}

.filterCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 125px;
  height: 90px;
  margin: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: rgb(139, 233, 139);
  font-weight: bolder;
}

.filterCard:hover {
  transform: scale(1.05);
}

.filterCard.selected {
  border: 1px solid rgb(187, 106, 190);
  background-color: rgb(252, 229, 255);
}

.select {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.resetButton {
  background-color: var(--color-secundary);
  color: var(--color-white);
}

.resetButton:hover {
  background-color: var(--color-font);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icon {
    font-size: 15px;
  }
}
