@font-face {
  font-family: Monsterra;
  src: url("..//src/assets/Fonts/Monsterra.ttf");
}
* {
  box-sizing: border-box;
  font-family: "Monsterra";

}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-Body: #ADD8E6;
  --color-border: #b475c9;
  --color-input: #90EE90;
  --color-secundary: #3333e5;
  --color-white: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #e6fff4;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.swiper-slide {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  * {
    background-size: cover
  }
}