:root {
  --color-Body: #add8e6;
  --color-font: #333333;
  --color-border: #ffb6c1;
  --color-input: #90ee90;
  --color-secundary: #000080;
  --color-white: #ffffff;
}


.navbar-brand {
  font-size: 1.5rem; 
}

.nav-link {
  font-size: 1.2rem; 
}

.navbar-icon {
  font-size: 1.5rem; 
}

.navbar-badge {
  font-size: 1.2rem; 
}


@keyframes transform-header {
  to {
    background: rgba(234, 234, 234, 0.4);
    backdrop-filter: blur(10px);
    transform: translateY(-5%);
  }
}
.navContainer {
  position: sticky;
  margin: 0;
  top: 0;
  height: 100px;
  animation: transform-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 100px;
}

.nav-link {
  display: flex;
  list-style-type: none;
  gap: 20px;
  transition: all 0.2s ease-in;
  &:hover{
    transform: scale(1.1);
    background-color: inherit;
    color: #39a539;
  }

}



.navbar-icon {
 height: 25px;
 width: 25px;
}

.navbar-brand{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: all 0.2s ease-in;
  &:hover{
    transform: scale(1.1);
    background-color: inherit;
    color: #39a539;
  }
}
.icon {
  height: 35px;
  width: 35px;
  color: rgb(34, 142, 100);
}

.cartIcon{
  font-size: 1.5em;
  position: relative;
}

.cartCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 8px;
  position: absolute;
  top: -1px;
  right: 1px;
  z-index: 1;
}