:root {
    --color-Body: #add8e6;
    --color-font: #333333;
    --color-border: #ffb6c1;
    --color-input: #90ee90;
    --color-secundary: #000080;
    --color-white: #ffffff;
  }
  
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color-Body);
    color: var(--color-font);
    font-size: 1.2rem;
    gap: 20px;
}
.title{
    font-size: 3rem;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 10px #0000005c;
    font-size:  1.2rem;
}
.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--color-font);
    transition: all 0.2s ease-in;
    &:focus {
        outline: none;
        box-shadow: 0 0 4px #01f101;
    }
}

.btnGoogle{
    background-color: var(--color-white);
    color: var(--color-white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    height: auto;
    width: 5%;
    transition: all 0.2s ease-in;
    box-shadow: 0 0 5px #000000;
    &:hover {
        transform: scale(1.05);
        background-color: #eaeaea;
    }
}
.btn {
    color: var(--color-white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    height: auto;
    width: 50%;
    transition: all 0.2s ease-in;
    background-color: #11c011;
    &:hover {
        transform: scale(1.05);
        background-color: #016d01;
    }
}
.link{
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    width: 30%;
    background-color: #028002;
    margin-left: 10px;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        background-color: #2da92d;
    }
}

.error{
    color: rgb(230, 81, 81);
    font-size: 15px;
    margin-bottom: 12px;
}